{% extends "home/base.html" %}
{% load static %}
{% block carousel %}
<section class="carousel-section " style="padding-top:50px;" id="#carousel">
            
    <!--Carousel Wrapper-->
    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
      
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            {% for car in carousel %}
            <li data-target="#carousel-example-2" data-slide-to="{{ car.id }}"></li>
            {% endfor %}


        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="view">
                    <img class="d-block w-100" src="{% static 'main.jpg' %}" alt="First slide" style=" width: 100%;
                            height: 600px;">
                    <div class="mask rgba-black-light"></div>
                    <div class="carousel-caption ">
                        <h1 class="h1-responsive">welcome to Kumars Cable</h1>
                    </div>

                </div>

            </div>
            {% for car in carousel %}
            <div class="carousel-item">
                <div class="view">
                    <img class="d-block w-100" src="{{ car.image.url }}" alt="Second slide" style=" width: 100%;
                    height: 600px;">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption ">
                    <h1 class="h1-responsive">{{ car.name }}</h1>

                </div>
            </div>
            {% endfor %}

        </div>
   
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->

</section>
{% endblock %}

{% block about %}
<section class="about-section " >
    <div class="container" style="padding-top: 5%;">
        <h2 class="h1-responsive text-center"  >About</h2>
    
            <p class="mt-4">"Kumars Cable" is one of the cable tv providers in Ambasamudram with more than 400
                customers,
                providing a quality services to all customers at affordable prices...</p>
    
    </div>
</section>
{% endblock %}

{% block features %}
<section class="features-section" style="height: fit-content;" id="features">
  <div class="container" style="padding-top: 50px;">
    <h1 class="h1-responsive pt-4" style="text-align: center;">Features</h1>
    
    <section class="pt-5 mt-3 pb-3">

        <div class="row">

          <div class="col-md-12">
      
            <!--Card group-->
            <div class="card-group">
      
              <!--Card-->
              <div class="card card-personal" >
      
              
                <!--Card content-->
                <div class="card-body">
                  <!--Title-->
                  <a>
                    <h4 class="card-title"><i class="fas fa-satellite-dish"></i> Welcome To Kumars Cable</h4>
                  </a>
      
                  <!--Text-->
                  <p class="card-text">kumarscable provides various customer services like change of base packages,
                      additional channel pack subscription,change from sd setup box  to hd setup box .</p>
                 
                </div>
                <!--Card content-->
      
              </div>
              <!--Card-->
      
              <!--Card-->
              <div class="card card-personal ">
                <div class="card-body">
                  <a>
                    <h4 class="card-title"><i class="fas fa-credit-card" style="font-size: 18px;"></i> Hassle Free Payment</h4>
                  </a>
                  <p class="card-text">With kumarscable payment can be made either online with our platform or our operator will collects money from your home once in a month.</p>
                  
                </div>
              </div>

      
              <!--Card-->
              <div class="card card-personal ">
      
           
      
                <!--Card content-->
                <div class="card-body">
                  <!--Title-->
                  <a>
                    <h4 class="card-title"><span class="iconify" data-icon="mdi-set-top-box" data-inline="false" style="font-size: 35px;"></span> Setup Boxes</h4>
                  </a>
                 
      
                  <!--Text-->
                  <p class="card-text">TACTV provides  all the customers a quality services by providing them HD and SD setup boxes to customers who want a quality services according to their needs and wishes.</p>
                  
                </div>
                <!--Card content-->
      
              </div>
              <!--Card-->
      
            </div>
            <!--Card group-->
      
          </div>
          <!--Grid column-->
          <div class="col-md-12">
      
            <!--Card group-->
            <div class="card-group">
      
              <!--Card-->
              <div class="card card-personal" >
      
              
                <!--Card content-->
                <div class="card-body">
                  <!--Title-->
                  <a>
                    <h4 class="card-title"><i class="fas fa-mobile" style="font-size: 25px;"></i> Service Request</h4>
                  </a>
      
                  <!--Text-->
                  <p class="card-text">easy service request with just a call,give a call to our operator and service connection will be provided within that day. </p>
                 
                </div>
                <!--Card content-->
      
              </div>
              <!--Card-->
      
              <!--Card-->
              <div class="card card-personal ">
      
           
      
                <!--Card content-->
                <div class="card-body">
                  <!--Title-->
                  <a>
                    <h4 class="card-title"><i class="fas fa-user-circle"></i> Easy Registration</h4>
                  </a>
            
      
                  <!--Text-->
                  <p class="card-text">register your account with ease with simple registration steps to complete to monitor all your packages and bills.</p>
                  
                </div>
                <!--Card content-->
      
              </div>
              <!--Card-->
      
              <!--Card-->
              <div class="card card-personal ">

                <!--Card content-->
                <div class="card-body">
                  <!--Title-->
                  <a>
                    <h4 class="card-title"><i class="fas fa-globe-asia"></i> Access Anywhere</h4>
                  </a>
                 
      
                  <!--Text-->
                  <p class="card-text">With our website access our service and your account from anywhere .</p>
                  
                </div>
                <!--Card content-->
      
              </div>
              <!--Card-->
      
            </div>
            <!--Card group-->
      
          </div>
          <!--Grid column-->
      
      
        </div>
        <!--Grid row-->
      
      </section>
    </div>
    
</section>
{% endblock %}



{% block contact %}
<section class="contact-section" id="contact" style="height:fit-content;padding-top: 50px;">
    <!--Section heading-->
    <div class="container">
    <h2 class="h1-responsive  text-center my-4">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Contact us if you have any queries or suggestions, we are happy to get back to you.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" method="POST" action="{% url 'contactus'  %}">
                {% csrf_token %}

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control" required>
                            <label for="name" class="">Your name</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control" required>
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control" required>
                            <label for="subject" class="">Subject</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Your message</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->
                <button class="btn btn-primary" type="submit" >Send</button>

            </form>


            
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Melapalayam North Car Street, Ambsamudram, TamilNadu, India</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+91 9443081041</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>contactus.kumarscable@gmail.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>
</div>

</section>

{% endblock %}
