{% extends "home/base.html" %}

{% block payment %}

<div class="container-fluid">
<div class="card" style="width: auto;height: fit-content">

  <h5 class="card-header info-color white-text text-center py-4">
    <strong>Payment Details</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

   
  
  <form action="#" method="POST">
   {% for p in pay %}         
      <div class="md-form">
        <input type="text" id="materialLoginForm" class="form-control" value="{{ p.name }}" name="name" >
        <label for="materialLoginForm">Name</label>
      </div>
      <div class="md-form">
        <input type="number" id="materialLoginForm" class="form-control" value="{{ p.phone }}" name="phone" >
        <label for="materialLoginForm">Phone</label>
      </div>
      <div class="md-form">
        <input type="text" id="materialLoginForm" class="form-control" value="{{ p.street }}" disabled>
        <label for="materialLoginForm">Address</label>
      </div>


      <div class="md-form">
        <input type="text" id="materialLoginForm" class="form-control" value="{{ p.setupbox.boxno }}" disabled>
        <label for="materialLoginForm">Box No.</label>
      </div>
      <div class="md-form">
        <input type="number" id="materialLoginForm" class="form-control" value="{{  p.setupbox.cafnum }}" disabled>
        <label for="materialLoginForm">CAF Num.</label>
      </div>
      <div class="md-form">
        <input type="number" id="materialLoginForm" class="form-control" value="{{  p.setupbox.base_package }}" disabled>
        <label for="materialLoginForm">Base Package</label>
      </div>
      <div class="md-form">
        <input type="text" id="materialLoginForm" class="form-control" value="{{  p.setupbox.addon_packages }}" disabled>
        <label for="materialLoginForm">Addon Package</label>
      </div>
      <div class="md-form">
        <input type="text" id="materialLoginForm" class="form-control" value="{{  p.setupbox.bouquets }}" disabled>
        <label for="materialLoginForm">Bq Package</label>
      </div>
      <div class="md-form">
        <input type="text" id="materialLoginForm" class="form-control" value="{{  p.setupbox.bcbouquets }}" disabled>
        <label for="materialLoginForm">Bc Package</label>
      </div>
      <div class="md-form">
        <input type="number" id="materialLoginForm" class="form-control" value="{{  p.setupbox.price }}" disabled>
        <label for="materialLoginForm">Price</label>
      </div>
      <div class="md-form">
        <input type="number" id="materialLoginForm" class="form-control" value="{{ p.setupbox.add_price }}" disabled>
        <label for="materialLoginForm">Additional Price</label>
      </div>
      <h2 style="color: black;">Total Price : <b><input type="number" id="materialLoginForm" class="form-control" value="{{ p.setupbox.total_price}}" name="amount" ></b></h2>


    <div class="modal-footer d-flex justify-content-center">
      <button class="btn btn-default" type="submit">submit</button>
    </div>
    {% endfor %}
  </form>
 


  </div>

</div>
</div>

{% endblock %}


<div class="md-form">
  <input type="text" id="materialLoginForm" class="form-control" value="{{ p.name }}" name="name" >
  <label for="materialLoginForm">Name</label>
</div>
<div class="md-form">
  <input type="number" id="materialLoginForm" class="form-control" value="{{ p.phone }}" name="phone" >
  <label for="materialLoginForm">Phone</label>
</div>
<div class="md-form">
  <input type="text" id="materialLoginForm" class="form-control" value="{{ p.address }}" disabled>
  <label for="materialLoginForm">Address</label>
</div>


<div class="md-form">
  <input type="text" id="materialLoginForm" class="form-control" value="{{ p.setupbox.boxno }}" disabled>
  <label for="materialLoginForm">Box No.</label>
</div>
<div class="md-form">
  <input type="number" id="materialLoginForm" class="form-control" value="{{  p.setupbox.cafnum }}" disabled>
  <label for="materialLoginForm">CAF Num.</label>
</div>
<div class="md-form">
  <input type="number" id="materialLoginForm" class="form-control" value="{{  p.setupbox.base_package }}" disabled>
  <label for="materialLoginForm">Base Package</label>
</div>
<div class="md-form">
  <input type="text" id="materialLoginForm" class="form-control" value="{{  p.setupbox.addon_packages }}" disabled>
  <label for="materialLoginForm">Addon Package</label>
</div>
<div class="md-form">
  <input type="text" id="materialLoginForm" class="form-control" value="{{  p.setupbox.b }}" disabled>
  <label for="materialLoginForm">Bq Package</label>
</div>
<div class="md-form">
  <input type="text" id="materialLoginForm" class="form-control" value="{{  p.setupbox.bc }}" disabled>
  <label for="materialLoginForm">Bc Package</label>
</div>
<div class="md-form">
  <input type="number" id="materialLoginForm" class="form-control" value="{{  p.setupbox.price }}" disabled>
  <label for="materialLoginForm">Price</label>
</div>
<div class="md-form">
  <input type="number" id="materialLoginForm" class="form-control" value="{{ p.setupbox.add_price }}" disabled>
  <label for="materialLoginForm">Additional Price</label>
</div>
<h2 style="color: black;">Total Price : <b><input type="number" id="materialLoginForm" class="form-control" value="{{ p.setupbox.total_price}}" name="amount" ></b></h2>

