{% extends "Dashboard/base.html" %}{% load static %}{% block sb_admin_title %}Tables{% endblock sb_admin_title %}{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}



 {% block sb_admin_breadcrumb_active %}
 <li class="breadcrumb-item active">SetupBoxes</li>
 {% endblock sb_admin_breadcrumb_active %}
 {% block sb_admin_content %}  
  <!-- DataTables Example -->
  <div class="row" style="justify-content: center;align-items: center;padding-top: 20px;">
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white  o-hidden h-100 " style="background-color: #0072ff;">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fas fa-fw fa-tv"></i>
          </div>
          <div class="mr-5" style="font-weight: bolder;">ACTIVE : {{activecount}} </div>
        </div>
        
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white  o-hidden h-100 " style="background-color: #fd1d1d;">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fas fa-fw fa-power-off"></i>
          </div>
          <div class="mr-5" style="font-weight: bolder;">DEACTIVE : {{unactivecount}}</div>
        </div>
        
      </div>
    </div>
    
  </div>


        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
           SetupBoxes</div>
          <div class="card-body">

            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead style="background-color: #43cea2;color: #fafafa;">
                  <tr>
                    <th>STB No.</th>
                    <th>Base Package</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Base Price</th>
                    <th>Additional Price</th>
                    <th>Total Price</th>
                    <th>Box Status</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    
                  </tr>
                </tfoot>
                <tbody>
                    {% for s in setupbox %}
                    <tr>
                        <td>{{s.boxno}}</td>
                        <td>{{s.base_package}}</td>
                        <td>{{s.start_date}}</td>
                        <td>{{s.end_date}}</td>
                        <td>{{s.base_price}}</td>
                        <td>{{s.additional_price}}</td>
                        <td>{{s.total_price}}</td>
                        {% if s.box_status == 'active' %}

                                <td style="color: #0072ff;font-weight: bold;">ACTIVE</td>

                          {% else %}
                              
                          <td style="color: #fd1d1d;font-weight: bold;">DEACTIVE</td>


                          {% endif %}
                      </tr>

                    {% endfor %}
                  
               
                </tbody>
              </table>
            </div>
          </div>
          
        </div>


{% endblock sb_admin_content %}


